.section {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

/* MAIN HERO */
.section > main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  align-items: center;
}

.heroLeft,
.heroRight {
  width: 100%;
}

.heroLeft {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

.heroRight {
  display: flex;
  justify-content: center;
}

.heroRight img {
  width: 80%;
  max-width: 350px;
}

.quote {
  color: #8758ff;
}

.name {
  font-size: 2rem;
}

.heroLeft button {
  padding: 10px 15px;
  margin: 10px;
  background-color: #181818;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.heroLeft button:hover {
  background-color: #8758ff;
}

.point {
  margin: 10px 0;
}

/* ABOUT SECTION */

.heading {
  text-align: center;
  margin-top: 60px;
}

.horizontalLine {
  width: 60px;
  height: 5px;
  background-color: #8758ff;
  border: none;
  margin: 10px auto 30px auto;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: auto;
}

.leftContainer,
.rightContainer {
  width: 100%;
  margin-bottom: 20px;
}

.leftContainer {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 20px;
  border-radius: 15px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  background-color: white;
}
.design>div{
    background-color: #181818;
    width:10px;
    height: 10px;
    border: 1px solid white;
}
.design{
    width:100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: auto;
    border: 1px solid red;
}





.rightContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.skills>.skillQuote{
    /* border: 1px solid red; */
    text-align: center;
    margin: 0px auto;
}

/* DESKTOP BREAKPOINT */

@media (min-width: 1024px) {
  .section {
    flex-direction: row;
  }

  .section > main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .heroLeft {
    width: 50%;
    text-align: left;
    font-size: 1.2rem;
  }

  .heroRight {
    width: 50%;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .leftContainer,
  .rightContainer {
    width: 45%;
  }

  .rightContainer img {
    width: 300px;
    height: 300px;
  }
}