.nav{
    display: flex;
    background-color: #7AAACE;
}
.leftNavDiv{
    width:40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightNavDiv{
    width:60%;
}
.rightNavDiv>ul{
    display: flex;
    float:right;
    padding-right: 20px;
}
.rightNavDiv>ul>li{
   list-style-type: none;
   padding: 10px;
}
.rightNavDiv>ul>li>a{
   text-decoration: none;
   color:black;
   font-weight: 600;
}
.rightNavDiv>ul>li>a:hover{
   color:#355872;
}
.design{
    width:60px;
    height:60px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.design>div{
    width:5px;
    height:5px;
    margin: 2px;
    background-color: grey;
    border-radius: 50%;
}
.title{
    width: 60%;
    text-align: left;
    position: relative;
    right:40px;
    top:10px;
    color: #355872;
}
.activeLink{
    border-bottom: 4px solid #355872;
    border-radius: 3px;
}
@media screen and (max-width:770px){
    body{
        font-size:0.9rem;
    }
}