.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #f2f2f2;
  border-bottom: 4px solid #8758ff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.rightNavDiv ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.rightNavDiv a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.rightNavDiv a:hover {
  color: #8758ff;
}

.activeLink {
  border-bottom: 3px solid #8758ff;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: black;
  margin: 4px 0;
}

/* MOBILE */

@media (max-width: 768px) {
  /* .rightNavDiv {
    display: no;
  } */

  .hamburger {
    display: none;
  }
}
@media (max-width: 435px) {
  .rightNavDiv {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}